* {
  margin: 0;
  padding: 0;
}

html {
  background: url(img/Desktop_HD_bg_img.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  color: #FFF;
}

body {
  position: relative;
  text-align: center;
}

section {
  width: 822px;
  margin: auto;
}

h1 {
  font-weight: bold;
  font-size: 114px;
  margin-top: 165px;
}

h2 {
  font-weight: 100;
  opacity: 0.6;
  margin-top: 20px;
}

h1, h2 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

img {
  height: 60px;
  width: 60px;
}

ul {
  margin-top: 60px;
}

 ul li {
   display: inline-block;
   margin-right: 30px;
 }

img {
  opacity: 0.4;
}

img:hover {
  opacity: 1;
}

/* Desktop */
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {

  section {
    width: 721px;
  }

  h1 {
    font-size: 100px;
  }

  h2 {
    margin-top: 24px;
  }

  .icons {
    width: 379px;
    margin: auto;
  }

  img {
    margin-bottom: 40px;
  }

}

/* Tablet */
@media only screen and (min-device-width: 401px) and (max-device-width: 768px) {

  section {
    width: 520px;
  }

  h1 {
    font-size: 72px;
    margin-top: 180px;
  }

  h2 {
    font-size: 32px;
    margin-top: 40px;
  }

  .icons {
    width: 379px;
    margin: auto;
    margin-top: 80px;
  }

  ul li {
    margin-bottom: 40px;
  }

  img {
    opacity: 1;
  }

}

/* Mobile */
@media only screen and (max-device-width: 400px) {

  html {
    background: url(img/Mobile_bg_img.png) no-repeat center center fixed;
  }

  section {
    width: 228px;
  }

  h1 {
    font-size: 48px;
    margin-top: 40px;
  }

  h2 {
    font-family: 24px;
    margin-top: 20px;
  }

  .icons {
    margin: auto;
    text-align: center;
    margin-top: 50px;
    width: 200px;
  }

  ul li {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
  }

  img {
    opacity: 1;
  }

}
